body {
    background-color: #f2f2f2;
}

.deleteBtn {
    background:none;
    border:none;
    margin:0;
    padding:0;
    cursor: pointer;
    color:red;
}

.deleteForm{
    display:inline;
}

form .row{
    padding-top: 5px;
}

.alertMsg{
    width:900%;
    text-align: center;
}

.viewBtn:hover, .editBtn:hover{
    text-decoration: none;
}

.keywords li{
    margin-top:5px;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    margin-left:42%;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}