body {
    background-color: #f2f2f2;
}

.deleteBtn {
    background:none;
    border:none;
    margin:0;
    padding:0;
    cursor: pointer;
    color:red;
}

.deleteForm{
    display:inline;
}

form .row{
    padding-top: 5px;
}

.alertMsg{
    width:900%;
    text-align: center;
}

.viewBtn:hover, .editBtn:hover{
    text-decoration: none;
}